.blue_date {
    position: absolute;
    top: 39%;
    left: 15%;
    font-size: 200px;
    font-weight: 700;
    color: #5d5fef;
    z-index: 3;
}

.pink_date {
    position: absolute;
    top: 39%;
    right: 15%;
    font-size: 200px;
    font-weight: 700;
    color: #ef5da8;
    z-index: 3;
}
