.wrapper {
    @media (max-width: 720px) {
        display: flex;
        gap: 20px;
        justify-content: space-between;
        margin-top: 52px;
    }
}

.pink_date,
.blue_date {
    position: absolute;
    top: 25%;
    font-size: 200px;
    font-weight: 700;
    user-select: none;
    @media (max-width: 1440px) {
        font-size: 150px;
        top: 32%;
    }
    @media (max-width: 1024px) {
        font-size: 120px;
        top: 35%;
    }
    @media (max-width: 720px) {
        position: relative;
        font-size: 70px;
    }
}

.blue_date {
    color: #5d5fef;
    right: 60%;
    @media (max-width: 1024px) {
        right: 72%;
    }
    @media (max-width: 720px) {
        right: 0;
    }
}

.pink_date {
    color: #ef5da8;
    left: 55%;
    @media (max-width: 1024px) {
        left: 72%;
    }
    @media (max-width: 720px) {
        left: 0;
    }
}
