.line {
    position: absolute;
    background-color: #e2e7f1;
    @media (max-width: 720px) {
        position: relative;
    }
}

.vertical {
    top: 0;
    width: 1px;
    height: 100%;
    left: 50%;
    @media (max-width: 720px) {
        display: none;
    }
}

.horizontal {
    height: 1px;
    width: 100%;
    top: 50%;
    @media (max-width: 720px) {
        color: rgba(199, 205, 217, 1);
        width: 80%;
        height: 2px;
        top: 0;
        margin: auto;
    }
}

.wrapper {
    @media (max-width: 720px) {
        display: flex;
        margin-top: 57px;
    }
}
