@font-face {
    font-family: 'PTSans';
    font-style: normal;
    font-weight: 400;
    src: url(/src/assets/fonts/PTSans-Regular.ttf);
}
@font-face {
    font-family: 'PTSans';
    font-style: normal;
    font-weight: 700;
    src: url(/src/assets/fonts/PTSans-Bold.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'PTSans';
}

.border {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 8px;
    @media (max-width: 720px) {
        display: flex;
        flex-direction: column;
    }
}

.wrapper {
    position: relative;
    grid-column: span 8 / span 8;
    grid-row: span 6 / span 6;
    grid-column-start: 3;
    border-left: 1px solid #e2e7f1;
    border-right: 1px solid #e2e7f1;
    box-sizing: border-box;
    height: 100vh;
}

.container {
    padding: 0 40px 0 80px;
    display: flex;
    flex-direction: column;
    height: 83%;
    @media (max-width: 720px) {
        padding: 0 20px 13px 20px;
        justify-content: space-between;
    }
}

.header {
    display: flex;
    gap: 78px;
}

.divider {
    position: absolute;
    left: -3px;
    top: 170px;
    height: 120px;
    width: 5px;
    background: linear-gradient(
        180deg,
        rgba(56, 119, 238, 1) 20%,
        rgba(239, 93, 168, 1) 70%
    );
    @media (max-width: 720px) {
        display: none;
    }
}
