.wrapper {
    @media (max-width: 720px) {
        margin-top: 40px;
    }
}

.slider_title {
    color: rgba(56, 119, 238, 1);
    font-weight: 400;
    font-size: 25px;
    @media (max-width: 720px) {
        font-size: 16px;
    }
}

.slider_descr {
    color: rgba(66, 86, 122, 1);
    font-size: 20px;
    max-width: 400px;
    margin-top: 15px;
    @media (max-width: 720px) {
        font-size: 14px;
    }
}

:global(.swiper) {
    padding: 0 40px 0 80px;
    width: 90% !important;
    margin-top: 40px;
    @media (max-width: 1440px) {
        width: 80% !important;
        margin-top: 30px;
        padding: 0;
    }
}

:global(.swiper-slide) {
    @media (max-width: 720px) {
        width: 166px !important;
    }
}

:global(.swiper-button-next),
:global(.swiper-button-prev) {
    width: 40px !important;
    height: 40px !important;
    box-shadow: 0 0 8px rgba(34, 60, 80, 0.2);
    border-radius: 50%;
}

:global(.swiper-button-next)::after,
:global(.swiper-button-prev)::after {
    font-size: 20px !important;
}

:global(.swiper-button-disabled) {
    display: none !important;
}

:global(.swiper-pagination-bullet-active) {
    background: rgba(66, 86, 122, 1) !important;
}

:global(.swiper-pagination) {
    transform: translate(50%, 50%) !important;
    width: 50% !important;
    bottom: 15px !important;
}
